<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../global/navbar.css">
    <title>Hozpedaki</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="../../" class="logo">Hozpedaki</a>
                <a class="slogan">O seu lar digital, onde a hospedagem ganha vida!</a>
            </div>
            <ul>
                <li class="dropdown">
                    <div class="user">
                        <img class="user-icon" src="../../icons/user1.svg" alt="">
                        <a class="username">Olá</a>
                        <img class="down" src="../../icons/down.svg" alt="">
                    </div>

                    <div class="dropdown-menu">
                        <a class="menu" href="../entrar/">Entrar</a>
                        <a class="menu" href="../cadastrar/">Cadastrar</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="search">
        <div>
            <div class="item-search">
                <div class="title">Início</div>
                <img class="img" src="../../icons/calendario.svg" alt="">
                <input type="date" id="txt-inicio" name="data">
            </div>
            <div class="item-search">
                <div class="title">Final</div>
                <img class="img" src="../../icons/calendario.svg" alt="">
                <input type="date" id="txt-final" name="data">
            </div>
            <div class="item-search">
                <div class="title">Hóspedes</div>
                <img src="../../icons/hospede.svg" alt="">
                <input type="text" id="txt-hospedes" value="4" readonly>
            </div>
            <div class="local">
                <img src="../../icons/local.svg" alt="">
                <a class="text-local">Jardim Boa Vista, São Paulo, Brasil</a>
            </div>
        </div>
    </div>

    <div class="details">
        <div class="image-description">
            <div class="image">
                <img class="principal-image" src="../../images/beachHouse.jpg" alt="">
            </div>
            <div class="description">
                <div class="div-title">
                    <div class="house-title"><a>Apartamento Aconchegante em Bairro Nobre de São Paulo</a></div>
                    <a style="color: #5D3587; font-size: 15pt;">9 <img src="../../icons/star.svg" alt=""></a>
                </div>
                <div class="text-description">
                    <a>Bem-vindo ao seu novo lar! Este encantador apartamento localizado em um 
                    bairro nobre de São Paulo oferece conforto e praticidade para um estilo de vida tranquilo. Ideal 
                    para um casal, este espaço foi projetado para atender às necessidades modernas com elegância.</a>
                </div>
                <div class="text-details">
                    <a>1 quarto, sala, cozinha, banheiro</a>
                    <a>2 Hóspedes</a>
                </div>
                <a class="BtnReserve" href="">Reservar</a>
            </div>
        </div>
        <div class="all-images"></div>
    </div>

    <script src="script.js"></script>
</body>
</html>