<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../global/navbar.css">
    <title>Hozpedaki</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="../../" class="logo">Hozpedaki</a>
                <a class="slogan">O seu lar digital, onde a hospedagem ganha vida!</a>
            </div>
            <ul>
                <li class="dropdown">
                    <div class="user">
                        <img class="user-icon" src="../../icons/user1.svg" alt="">
                        <a class="username">Olá</a>
                        <img class="down" src="../../icons/down.svg" alt="">
                    </div>

                    <div class="dropdown-menu">
                        <a class="menu" href="../entrar/">Entrar</a>
                        <a class="menu" href="../cadastrar/">Cadastrar</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    
    <div class="search">
        <div>
            <div class="item-search">
                <div class="title">Início</div>
                <img class="img" src="../../icons/calendario.svg" alt="">
                <input type="date" id="txt-inicio" name="data">
            </div>
            <div class="item-search">
                <div class="title">Final</div>
                <img class="img" src="../../icons/calendario.svg" alt="">
                <input type="date" id="txt-final" name="data">
            </div>
            <div class="item-search">
                <div class="title">Hóspedes</div>
                <img src="../../icons/hospede.svg" alt="">
                <input type="text" id="txt-hospedes" value="4" readonly>
            </div>
            <div class="local">
                <img src="../../icons/local.svg" alt="">
                <a class="text-local">Jardim Boa Vista, São Paulo, Brasil</a>
            </div>
        </div>
    </div>

    <div class="details"></div>

    <script src="script.js"></script>
</body>
</html>