<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global/navbar.css">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="../../" class="logo">Hozpedaki</a>
                <a class="slogan">O seu lar digital, onde a hospedagem ganha vida!</a>
            </div>
            <ul>
                <li class="dropdown">
                    <div class="user">
                        <img class="user-icon" src="../../icons/user1.svg" alt="">
                        <a class="username">Olá</a>
                        <img class="down" src="../../icons/down.svg" alt="">
                    </div>
                    <div class="dropdown-menu">
                        <a class="menu" href="../">Sair</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <div class="form-register">
        <h2>CADASTRAR PROPRIEDADE</h2>
        <form action="" method="post">
            <div style="display: grid; grid-template-columns: 1fr 1fr; align-items: end; gap: 160px;">
                <div class="side-form">
                    <div class="title-input">
                        <label>Nome da propriedade: </label>
                        <input class="input" type="text" placeholder="ex: Lucia Maria Menezes" required>
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>CEP:</label>
                            <input class="input" type="text" id="cep" placeholder="ex: 55555-555" maxlength="9" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Estado: </label>
                            <input class="input" type="text" placeholder="ex: Paraíba" required>
                        </div>
                    </div>

                    <div class="title-input">
                        <label>Cidade: </label>
                        <input class="input" type="text" placeholder="ex: São João da Boa Vista" required>
                    </div>

                    <div class="title-input">
                        <label>Rua/Avenida: </label>
                        <input class="input" type="text" placeholder="ex: Rua das Alamedas" required>
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Bairro: </label>
                            <input class="input" type="text" placeholder="ex: Rua das Alamedas" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Nº: </label>
                            <input class="input" type="text" placeholder="ex: 24" required>
                        </div>
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Tamanho (m²): </label>
                            <input class="input" type="number" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Disponível: </label>
                            <select name="" id="" required>
                                <option value="">Selecione</option>
                                <option value="">Sim</option>
                                <option value="">Não</option>
                            </select>
                        </div>   
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Quartos: </label>
                            <input class="input" type="number" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Sala: </label>
                            <input class="input" type="number" required>
                        </div>
                    </div>
                </div>

                    <!-- <div>
                        <label>CPF:</label>
                        <input class="input" type="text" id="cpf" placeholder="ex: 555.555.555-55" maxlength="14">
                    </div> -->
                <div class="side-form">
                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Cozinha: </label>
                            <input class="input" type="number" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Banheiro: </label>
                            <input class="input" type="number" required>
                        </div>
                        
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Hóspedes: </label>
                            <input class="input" type="number" required>
                        </div>
                        
                        <div class="title-input">
                            <label>Piscina: </label>
                            <select name="" id="" required>
                                <option value="">Selecione</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                        
                    </div>

                    <div class="two-inputs">
                        <div class="title-input">
                            <label>Café da Manhã: </label>
                            <select name="" id="" required>
                                <option value="">Selecione</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                        
                        <div class="title-input">
                            <label>Reembolsável: </label>
                            <select name="" id="" required>
                                <option value="">Selecione</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div> 
                    </div>

                    <div class="title-input">
                        <label for="">Descrição:</label>
                        <textarea class="input-desc" name="" id="" cols="30" rows="10" required></textarea>
                    </div>
                </div>

            </div>

            <div class="images">
                <label>Fotos</label>
                <div style="display: flex; gap: 20px">
                    <label class="picture" tabindex="0">
                        <input class="input-image" id="image1" accept="image/*" type="file" required>
                        <div class="preview-input"></div>
                    </label>
                    <label class="picture">
                        <input class="input-image" id="image2" accept="image/*" type="file" required>
                        <div class="preview-input"></div>
                    </label>
                    <label class="picture">
                        <input class="input-image" id="image3" accept="image/*" type="file" required>
                        <div class="preview-input"></div>
                    </label>
                </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: flex-end; gap: 20px;">
                <a class="BtnClear" onclick="ClearInputs()">Limpar Informações</a>
                <button type="submit">Registrar Propriedade</button>
            </div>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>