<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../global/navbar.css">
    <link rel="stylesheet" href="style.css">
    <title>Hozpedaki</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div>
                <a href="../../" class="logo">Hozpedaki</a>
                <a class="slogan">O seu lar digital, onde a hospedagem ganha vida!</a>
            </div>
            <ul>
                <li class="dropdown">
                    <div class="user">
                        <img class="user-icon" src="../../icons/user1.svg" alt="">
                        <a class="username">Olá</a>
                        <img class="down" src="../../icons/down.svg" alt="">
                    </div>
                    <div class="dropdown-menu">
                        <a class="menu" href="../">Sair</a>
                    </div>
                </li>
            </ul>
        </nav>

    </header>
    <div class="title-area">
        <a class="title">MINHAS PROPRIEDADES</a>
        <a href="../registrar-propriedade" class="BtnRegister"><img style="width: 17px;" src="../../icons/plus.svg" alt="">REGISTRAR</a>
    </div>

    <div class="all-houses">
        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Disponível</a>
                </div>
            </div>
        </div>

        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Alugado</a>
                </div>
            </div>
        </div>

        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Alugado</a>
                </div>
            </div>
            
        </div>

        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Disponível</a>
                </div>
            </div>
        </div>

        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Alugado</a>
                </div>
            </div>
        </div>

        <div class="house">
            <div class="house-items">
                <div class="house-image">
                    <img src="../../images/beachHouse.jpg" alt="">
                </div>
                <div class="title-avaliation">
                <a class="name-house">Aconchego de casal</a>
                <div>
                    <a class="avaliation">9.0</a>
                    <img src="../../icons/star.svg" alt="">
                </div>
                </div>
                <a class="price">R$120/dia</a>
                <div class="details">
                    <a class="txt-details">São Luis de Monte Belo, Brasil</a>
                    <a class="txt-details">1 quarto, 1 sala, 1 cozinha, 1 banheiro</a>
                    <a class="txt-details">2 pessoas</a>
                </div>
                <div class="buttons">
                    <a class="BtnEdit" href="../editar/">Editar</a>
                    <a class="house-condition">Disponível</a>
                </div>
            </div>
            
        </div>
    </div>

    <script src="script.js"></script>

</body>
</html>