<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../global/rodape.css">
    <title>Cadastre-se</title>
</head>
<body>
    <div class="container">
        <div class="login">
            <a class="logo" href="../../">Hozpedaki</a>
            <img src="../../icons/user2.svg" alt="">
            <div class="txt-btn-entrar">
                <label class="text">Já possui conta?</label>
                <a class="BtnLogin" href="../entrar/">Entrar</a>
            </div>
        </div>
        <form action="" method="post">
            <div class="form-register">
                <label class="title">Cadastre-se</label>
                <div class="line">
                    <div class="column">
                        <label>Seu nome:</label>
                        <input type="text" name="name" placeholder="Maria José Bezerra" required>
                    </div>
                    <div class="column">
                        <label>Seu celular:</label>
                        <input type="tel" name="" placeholder="11985763185" required>
                    </div>
                    <div class="column">
                        <label>Seu CPF:</label>
                        <input type="text" name="" placeholder="555.555.555-55" required>
                    </div>
                    <div class="column">
                        <label>Seu e-mail:</label>
                        <input type="email" name="email" placeholder="nome@email.com" required>
                    </div>
                    <div class="column">
                        <label>CEP:</label>
                        <input type="tel" name="" placeholder="33333-333" required>
                    </div>
                    <div class="column">
                        <label>Sua senha:</label>
                        <input type="password" name="" placeholder="***********" required>
                    </div>
                    <div class="column">
                        <label>Data de nascimento:</label>
                        <input type="date" name="" required>
                    </div>
                    <div class="column" id="btnRegister">
                        <button class="BtnRegister" type="submit">Cadastrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="rights">© Todos os direitos reservados a <a class="name-right" href="https://github.com/StephanieGdSantos">Stephanie Gomes dos Santos</a></div>
</body>
</html>