<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastre-se</title>
</head>
<body>
    <div class="background">
        <a class="logo" href="../index.html">Alugaki</a>
        <a class="slogan">O seu lar digital, onde a hospedagem ganha vida!</a>
    </div>
    <form action="" method="post">
        <div class="register">
            <label class="title">Cadastre-se</label>
        <div class="line">
            <div class="column">
                <label>Seu nome:</label>
                <input type="text" name="name" placeholder="Maria José Bezerra">
            </div>
            <div class="column">
                <label>Sua cidade:</label>
                <input type="text" name="" placeholder="São José dos Pinhais">
            </div>
            <div class="column">
                <label>Seu e-mail:</label>
                <input type="email" name="email" placeholder="nome@email.com">
            </div>
            <div class="column">
                <label>Seu endereço:</label>
                <input type="tel" name="" placeholder="Rua Benedito da Costa, 25">
            </div>
            <div class="column">
                <label>Seu CPF:</label>
                <input type="text" name="" placeholder="555.555.555-55">
            </div>
            <div class="column">
                <label>CEP:</label>
                <input type="tel" name="" placeholder="33333-333">
            </div>
            <div class="column">
                <label>Seu celular:</label>
                <input type="tel" name="" placeholder="11985763185">
            </div>
            <div class="column">
                <label>Seu estado:</label>
                <input type="text" name="" placeholder="Alagoas">
            </div>
            <div class="column">
                <label>Sua senha:</label>
                <input type="password" name="" placeholder="***********">
            </div>
            <div class="column">
                <button type="submit">Cadastrar</button>
            </div>
        </div>
    </div>
    </form>
</body>
</html>