<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Entrar</title>
</head>
<body>
    <div class="container">
        <div class="title">
            <a class="logo" href="../index.html">Hozpedaki</a>
        </div>
        <div class="login">
            <form action="" method="post">
                <label>Login</label>
                <select name="" id="" required>
                    <option value="">Selecione</option>
                    <option value="Hóspede">Hóspede</option>
                    <option value="Hospedeiro">Hospedeiro</option>
                </select>
                <input type="email" name="" id="" placeholder="nome@email.com" required>
                <input type="password" name="" id="" placeholder="***********" required>
                <button type="submit">Entrar</button>
                <a class="register" href="../cadastrar/">Ainda não possui conta? Cadastre-se</a>
            </form>
        </div>
    </div>
</body>
</html>